html {
  background-color: white;
}

.button {
  margin-bottom: 10px;
  padding: 10px 20px;
  width: 50%;
  height: 50px;
  border: none;
  border-radius: 25px;
  background-color: hsl(5, 5%, 5%);
  color: rgb(232, 232, 232);
}

.button:hover {
  background-color: hsl(0, 0%, 0%);
  color: gold;
}

#formContainer {
  border: 1px solid rgb(220, 220, 220);
  border-radius: 25px;
  box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.5);
  margin-top: 250px;
  padding: 20px 50px 10px 50px;
}

#header {
  margin-top: 50px;
  margin-bottom: 50px;
  font-size: 40px;
  font-weight: 300;
}

.passwordInputContainer {
  position: relative;
  margin-bottom: 20px;
}

.inputWithIcon {
  position: relative;
  width: 100%;
  padding-right: 50px;
}

.eyeIcon {
  position: absolute;
  top: 50%;
  right: 30px;
  transform: translateY(-50%);
  cursor: pointer;
}

#formContainer>form>div>input {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.buttonContainer {
  display: flex;
  justify-content: center;
}

.match {
  color: red;
  margin-bottom: 20px;
  text-align: center;
}