html {
    background-color: white;
}

.button {

    margin-bottom: 10px;
    padding: 10px 20px;
    width: 200px;
    height: 50px;
    border: none;
    border-radius: 25px;
    background-color: hsl(12, 12%, 5%);
    color: rgb(232, 232, 232);
}

.button:hover {
    background-color: black;
    color: gold;
}

.buttonContainer {
    text-align: center;
}

#formContainer {
    border: 1px solid rgb(220, 220, 220);
    border-radius: 25px;
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.5);
    margin-top: 200px;
    padding: 20px 50px 10px 50px;
}

#header {
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 40px;
}

.login {
    text-align: center;
}

.login {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 25px;
}

#formContainer>form>input {
    padding: 15px;
}

.forgotPassword {
    display: flex;
    justify-content: flex-end;
}

.forgotPassword>a {
    text-decoration: none;
    margin: 0px;
    padding: 0px;
}

#formContainer>form>input.form-control.is-invalid {
    margin-bottom: 0px;
}